header {
    width: 100%;
    height: 100px;
    border-bottom: 0.5px solid #838383;
    z-index: 777;
    position: fixed;
    top: 0;
    left: 0;

}


.in_header {
    width: 100%;
    height: 100%;
    padding: 0 50px;
    display: flex;
    align-items: center;

}

.in_header .ham_btn img {
    width: 40px;
    cursor: pointer;
}

.in_header .logo {
    margin: 0 auto;
}

.in_header .logo img {
    width: 120px;
}

.in_header .menu_btn {
    display: flex;
}

.in_header .menu_btn a {
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    position: relative;
}

.in_header .menu_btn a:after {
    content: '';
    position: absolute;
    /*after를 절대위치 (after는 가상클래스)*/
    background-color: #ffffff;
    height: 2px;
    width: 0;
    bottom: -10px;
    /*bottom을 주어, 글자 밑에 위치시킴*/
    transition: 0.4s;
    /*가상클래스에 이벤트 발생시 시간 지정*/
    left: 50%;
    /*만약 왼쪽에서부터 커지게하려면-> left를 0으로 두면 됨*/
    transform: translateX(-50%);
}

.in_header .menu_btn a:hover:after {
    width: 100%;
}



.in_header .menu_btn a:last-child {
    margin-left: 20px;
}


.ham_menu .ham_wrap {
    width: 700px;
    height: 100vh;
    background-color: #000000;
    z-index: 999;
    position: absolute;
    left: -700px;
    top: 0;
    position: fixed;
    padding: 30px;

}


.ham_menu .ham_header {
    display: flex;
}

.ham_menu .ham_header .logo {
    margin: 0 auto;
}

.ham_menu .ham_header .logo img {
    width: 100px;
}

.ham_menu .ham_header .ham_btn {
    cursor: pointer;
}


.ham_menu .ham_navi {
    padding: 30px 0;
}

.ham_menu .ham_navi ul li {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    font-size: 20px;
    cursor: pointer;
}

.ham_menu .ham_navi ul li a {
    color: #ffffff;
}

.ham_menu .ham_navi ul li a:hover {
    font-weight: 800;
}

.ham_menu .ham_navi ul li:nth-child(3) a {
    font-weight: 800;
}

.ham_menu .ham_bottom {
    margin-top: 160px;
    display: flex;
    justify-content: center;
    display: none;
}

.ham_menu .ham_bottom ul {
    display: flex;
}

.ham_menu .ham_bottom ul li {
    color: #ffffff;
}

.ham_menu .ham_bottom ul li a {
    color: #ffffff;
    font-size: 16px;
    margin: 0 30px;
}


.ham_menu .ham_bottom ul li a:hover {
    border-bottom: 1.5px solid #ffffff;
}

/* header */

.section_1 {
    height: 700px;
    background-image: url(../img/sec_1_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.section_1 .sec_1_title {
    position: absolute;
    text-align: center;
}


.section_1 .sec_1_title h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #ffffff;
}



.section_1 .sec_1_title h4 {
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
}

/* section_1 */

.section_2 .con_wrap {
    padding: 200px 220px;
}

.section_2 .sec_2_title {
    display: flex;
    justify-content: space-between;
}

.section_2 .sec_2_title .sec_2_left {
    width: 50%;
}

.section_2 .sec_2_title .sec_2_left h1 {
    font-size: 35px;
    font-weight: 700;
}

/* sec_2_left */

.section_2 .sec_2_title .sec_2_right {
    width: 50%;
}

.section_2 .sec_2_title .sec_2_right h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
}

.section_2 .sec_2_title .sec_2_right h5 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #656565;
}

/* section_2 */

.section_3 .container {
    height: 800px;
}

.section_3 .con_wrap {
    display: flex;
}


.section_3 .con {
    width: calc(100% / 4);
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition-duration: 0.8s;
    color: #ffffff;
    cursor: pointer;
}


.section_3 .con h2 {
    font-size: 30px;
    font-weight: 600;
    align-items: center;
    margin-bottom: 30px;
    color: #ffffff;
}

.section_3 .con h4 {
    width: 400px;
    font-size: 18px;
    font-weight: 300;
    display: none;
    font-weight: 300;
    color: #ffffff;
}

.section_3 .con:hover h4 {
    display: block;
}


.section_3 .con_1 {
    background-image: url(../img/sec_3_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section_3 .con_1:hover {
    background-image: url(../img/sec_3_1.png);
    background-repeat: no-repeat;
    width: 80vw;

}

/* con_1 */

.section_3 .con_2 {
    background-image: url(../img/sec_3_2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.section_3 .con_2:hover {
    background-image: url(../img/sec_3_2.png);
    background-repeat: no-repeat;
    width: 80vw;
}

/* con_2 */

.section_3 .con_3 {
    background-image: url(../img/sec_3_3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.section_3 .con_3:hover {
    background-image: url(../img/sec_3_3.png);
    background-repeat: no-repeat;
    width: 80vw;
}

/* con_3 */

.section_3 .con_4 {
    background-image: url(../img/sec_3_4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.section_3 .con_4:hover {
    background-image: url(../img/sec_3_4.png);
    background-repeat: no-repeat;
    width: 80vw;
}

/* section_3 */

.section_4 .container {
    padding: 250px 150px;
}


.section_4 .con_wrap {
    height: 600px;
    display: flex;
    overflow: hidden;

}


.section_4 .sec_4_left {
    width: 50%;
    display: flex;
    align-items: center;
}

.section_4 .sec_4_left img {
    width: 600px;
}


/* sec_4_left */

.section_4 .sec_4_right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.section_4 .sec_4_right h2 {
    font-weight: 700;
    font-size: 34px;
    padding: 0 20px;
    margin-bottom: 30px;
}

.section_4 .sec_4_right .sec_4_text {
    overflow-y: scroll;
}


.section_4 .sec_4_right .sec_4_text::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(0, 0, 0, 0);
}

.section_4 .sec_4_right .sec_4_text::-webkit-scrollbar-thumb {
    height: 20%;
    background-color: #2d2d2d;
    border-radius: 20px;
}

.section_4 .sec_4_right .sec_4_text h4 {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
    padding: 0 20px;
}


/* section_4 */

.section_5 .con_wrap {
    padding: 100px 220px;
}

.section_5 .sec_5_title {
    text-align: center;
    margin-bottom: 70px;
}

.section_5 .sec_5_title h1 {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 20px;
}

.section_5 .sec_5_title h4 {
    font-size: 18px;
    font-weight: 400;
}


.section_5 .box_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section_5 .box_wrap .box {
    width: 47%;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 90px;
    box-shadow: 5px 5px 10px #f1f1f1;


}

.section_5 .box_wrap .img {
    width: 100%;

}

.section_5 .box_wrap .box .box_text {
    padding: 50px;
}

.section_5 .box_wrap .box .box_text h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;
}

.section_5 .box_wrap .box .box_text h4 {
    font-size: 16px;
    font-weight: 400;
}

.section_5 .swiper {
    display: none;
}


/* section_5 */


footer .con_wrap {
    padding: 100px 140px;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
}

footer a {
    color: #ffffff;
}

footer .ft_logo {
    margin-bottom: 30px;
}

footer .info {
    display: flex;
    margin-bottom: 20px;
}

footer .info>a {
    margin-right: 20px;
    font-weight: 600;
}

footer .address {
    margin-bottom: 20px;
}

footer .address a {
    color: #cbcbcb;
    margin-bottom: 3px;
    cursor: default;
}

footer .copyright {
    color: #cbcbcb;
    font-size: 14px;
}

/* ft_left */

footer .ft_right {
    display: flex;
}

footer .ft_right a {
    cursor: default;
}

footer .cscenter {
    margin-right: 50px;
}

footer .cscenter .tel {
    margin-bottom: 20px;
}

footer .cscenter .tel h2 {
    color: #ffffff;
}

/* cscenter */


footer .company .tel h2 {
    color: #ffffff;
    margin-bottom: 10px;
}

/* footer */


.top_btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 888;
    width: 60px;
    height: 60px;
    background-color: #2d2d2d;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
}


/*  ---- 1500 start ---- */
@media screen and (max-width: 1500px) {
    .section_4 .sec_4_left img {
        width: 500px;
    }

    .section_4 .sec_4_right h2 {
        font-size: 30px;
    }

    .section_4 .sec_4_right .sec_4_text h4 {
        font-size: 16px;
        padding: 0 20px;
    }



}

/*  ---- 1500 start ---- */




/*  ---- 1400 start ---- */
@media screen and (max-width: 1400px) {

    .section_2 .con_wrap {
        padding: 200px 100px;
    }

    /* section_2 */

    .section_3 .container {
        height: 700px;
    }

    .section_3 .con_1:hover,
    .section_3 .con_2:hover,
    .section_3 .con_3:hover,
    .section_3 .con_4:hover {
        width: 70vw;
    }

    /* section_3 */

    .section_4 .container {
        padding: 200px 100px;
    }

    .section_4 .con_wrap {
        display: flex;
        overflow: hidden;
        flex-direction: column;
        align-items: center;
    }

    .section_4 .sec_4_left {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }

    .section_4 .sec_4_left img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* sec_4_left */

    .section_4 .sec_4_right {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section_4 .sec_4_right h2 {
        margin-bottom: 40px;
    }

    /* section_4 */

    .section_5 .sec_5_title h1 {
        font-size: 30px;
    }

    .section_5 .sec_5_title h4 {
        font-size: 17px;
    }

    .section_5 .box_wrap {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .section_5 .box_wrap .box {
        width: 100%;
        margin-bottom: 100px;
    }

    .section_5 .box_wrap .box img {
        width: 100%;

    }

    .section_5 .box_wrap .box .box_text {
        padding: 60px;
    }

    /* section_5 */

    footer .con_wrap {
        padding: 60px;
        display: flex;
        flex-direction: column;
    }

    footer .ft_left {
        margin-bottom: 50px;
    }

}


/*  ---- 1400 end ---- */



/*  ---- 1280 start ---- */
@media screen and (max-width: 1280px) {
    header {
        height: 80px;
    }

    .in_header .menu_btn {
        display: none;
    }

    .ham_menu .ham_wrap {
        width: 550px;
    }

    .ham_menu .ham_bottom {
        display: block;
        display: flex;
        justify-content: center;
    }

}

/*  ---- 1280 start ---- */







/*  ---- 1100 start ---- */
@media screen and (max-width: 1100px) {

    .section_1 .sec_1_title h1 {
        font-size: 40px;
    }



    /* section_1 */

    .section_2 .con_wrap {
        padding: 100px 80px;
    }

    .section_2 .sec_2_title {
        display: flex;
        flex-direction: column;
    }


    .section_2 .sec_2_title .sec_2_left {
        width: 100%;
    }

    .section_2 .sec_2_title .sec_2_left h1 {
        font-size: 35px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .section_2 .sec_2_title .sec_2_right {
        width: 100%;
    }

    .section_2 .sec_2_title .sec_2_right h4 {
        margin-bottom: 60px;
    }


    /* section_2 */

    .section_3 .container {
        height: 650px;
    }

    .section_3 .con h2 {
        font-size: 26px;
    }

    .section_3 .con h4 {
        font-size: 15px;
    }

    /* section_3 */

    .section_5 .con_wrap {
        padding: 100px 150px;
    }

    /* section_5 */

}

/*  ---- 1100 end ---- */


/*  ---- 900 start ---- */
@media screen and (max-width: 900px) {
    .section_1 .sec_1_title {
        width: 80vw;
    }

    /* section_1 */

    .section_2 .con_wrap {
        padding: 80px 60px;
    }

    .section_2 .sec_2_title .sec_2_left h1 {
        font-size: 30px;
    }

    /* sec_2_left */

    .section_2 .sec_2_title .sec_2_right h4 {
        font-size: 18px;
        margin-bottom: 40px;
    }

    .section_2 .sec_2_title .sec_2_right h5 {
        font-size: 16px;
    }


    /* section_2 */

    .section_3 .con_wrap {
        display: flex;
        flex-direction: column;
    }

    .section_3 .con_wrap .con {
        width: 100%;
        height: 25%;
    }

    .section_3 .con_wrap .con_1:hover {
        width: 100%;
    }

    .section_3 .con h2 {
        margin-bottom: 0;
    }

    .section_3 .con:hover {
        height: 40%;
    }



}


/*  ---- 786 start ---- */
@media screen and (max-width: 786px) {
    .ham_menu .ham_wrap {
        width: 100vw;
    }

    .ham_menu .ham_header .ham_btn img{
        width: 30px;
    }

    .ham_menu .ham_header .logo img{
        width: 90px;
    }

    .ham_menu .ham_navi ul li {
        font-size: 18px;
    }

    
    .ham_menu .ham_bottom {
        margin-top: 50px;
    }


    /* header */

    .section_4 .sec_4_right h2 {
        font-size: 24px;
    }

    /* section_4 */


    .section_5 .con_wrap {
        padding: 100px 100px;
    }

    .section_5 .sec_5_title {
        margin-bottom: 50px;
    }

    .section_5 .sec_5_title h1 {
        font-size: 27px;
    }

    .section_5 .sec_5_title h1 {
        margin-bottom: 16px;
    }

    .section_5 .sec_5_title h4 {
        font-size: 16px;
    }

    .section_5 .box_wrap {
        display: none;
    }

    .section_5 .swiper {
        display: block;
    }


    .section_5 .swiper .box {
        width: 96%;
        margin: 0 auto;
        text-align: center;
        border-radius: 20px;
        overflow: hidden;
        margin-bottom: 50px;
        box-shadow: 5px 5px 10px #f1f1f1;
    }

    .section_5 .swiper .box img {
        width: 100%;
    }

    .section_5 .swiper .box .box_text {
        padding: 50px;
    }

    .section_5 .swiper .box .box_text h2 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 24px;
    }

    .section_5 .swiper .box .box_text h4 {
        font-size: 16px;
        font-weight: 400;
    }

    


    /* section_5 */

    
    footer .ft_logo img {
        width: 100px;
    }

    footer .info>a {
        font-size: 15px;
    }

    footer .address {
        margin-bottom: 14px;
    }

    footer .address a {
        font-size: 14px;
        margin-bottom: 3px;
    }

    footer .ft_right a {
        font-size: 14px;
    }

    footer .cscenter .tel {
        margin-bottom: 14px;
    }

   

}


/*  ---- 786 end ---- */



/*  ---- 500 start ---- */
@media screen and (max-width: 500px) {
    header {
        height: 70px;
    }

    .in_header {
        padding: 0 30px;
    }

    .in_header .ham_btn img {
        width: 30px;
    }

    .in_header .logo img {
        width: 90px;
    }

    .ham_menu .ham_navi ul li {
        padding: 18px 0;
    }


    /* header */

    .section_1 .sec_1_title h1 {
        font-size: 32px;
    }

    .section_1 .sec_1_title h4 {
        font-size: 16px;
    }

    /* section_1 */

    .section_2 .con_wrap {
        padding: 60px 20px;
    }

    /* section_2 */

    .section_3 .con h2 {
        font-size: 22px;
        margin-bottom: 12px;
    }

    .section_3 .con h4 {
        width: 320px;
    }

    /* section_3 */

    .section_4 .container {
        padding: 100px 30px;
    }

    /* section_4 */

    .section_5 .con_wrap {
        padding: 100px 30px;
    }

    .section_5 .swiper .box .box_text {
        padding: 30px;
    }

    .section_5 .swiper .box .box_text h2 {
        font-size: 20px;
    }



    /* section_5 */





    footer .con_wrap {
        padding: 60px 40px;
    }

    footer .info {
        display: flex;
        flex-direction: column;
    }

    footer .info a {
        margin-bottom: 5px;
    }

    footer .ft_left {
        margin-bottom: 40px;
    }

    footer .ft_right {
        display: flex;
        flex-direction: column;
    }

    footer .cscenter {
        margin-bottom: 25px;
    }

    footer .cscenter .tel {
        margin-bottom: 5px;
    }

    footer .company .tel h2 {
        margin-bottom: 5px;
    }




}

/*  ---- 500 end ---- */